name: Run ST-BOT

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  run-stbot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Save account.txt (cookie)
        run: echo "${{ secrets.APPSTATE_JSON }}" > account.txt

      - name: Save config.js
        run: echo "${{ secrets.CONFIG_JS }}" > config.js

      - name: Start ST-BOT
        run: npm start
